*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family:'Ubuntu', sans-serif;
    box-sizing: border-box;
}

.navbar {
    position: fixed;
    background-color: transparent;
    width: 100%;
    padding: 30px 0;
    transition: .3s linear;
    z-index: 999;
}

.inner-width {
    max-width: 1300px;
    margin: auto;
    padding: 0 40px;
    
}

.navbar .inner-width{
    display: flex;
    align-items: center;
    justify-content: space-between;
}



.logo{
    width: 44px;
    height: 32px;
    font-size: 30px;
    font-weight: 500;
    background-size: contain;
    color: white;
}

.logo:hover{
    color: teal;
    transition: .2s linear;
}

.menu-toggler {
    background: none;
    width: 30px;
    border: none;
    cursor: pointer;
    position: relative;
    outline: none;
    z-index: 999;
    display: none;
}

.menu-toggler span{
    display: block;
    height: 3px;
    background-color: white;
    margin: 6px 0;
    position: relative;
    transition: .3s linear;
}

.navbar-menu a{
    color: white;
    font-size: 15px;
    font-weight: 500;
    margin-left: 30px;
    transition: .2s linear;
}

.navbar-menu a:hover{
    color: teal;
}

#home {
    height: 100vh;
    min-height: 500px;
    background: url(../images/bg.jpg) no-repeat center;
    background-size: cover;
    background-attachment: fixed;
}

#home .inner-width{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    text-align: center;
}

#home .content {
    width: 100%;
    color: white;
}

#home .content h1{
    font-size: 40px;
    margin-bottom: 60px;
}

#home .content h1::after{
    content: "Software Engineer";
    animation: textanim 10s linear infinite;
}

@keyframes textanim{
    25%{
        content: "a Developer JavaScript";
    }

    50%{
        content: "a Developer Java";
    }
    75%{
        content: "a Developer SQL";
    }
}

.sm a{
    color: white;
    font-size: 22px;
    margin: 0 10px;
    transition: .2s linear;
}

.sm a:hover {
    color: teal;
}

#home .buttons{
    margin-top: 60px;

}

#home .buttons a{
    display: inline-block;
    margin: 15px 30px;
    color:teal;
    font-size: 15px;
    font-weight: 500;
    width: 180px;
    border: 1px solid teal;
    padding: 14px 0;
    border-radius: 8px;
    transition: .3s linear;
}

#home .buttons a:hover, 
#home .buttons a:nth-child(2){
    background-color: teal;
    color: white;
}

@media screen and (max-width: 980px){
    .menu-toggler{
        display: block;
    }


.navbar-menu {
    position: fixed;
    height: 100vh;
    width: 100%;
    background-color: gray;
    top: 0;
    right: -100%;
    max-width: 400px;
    padding: 88px 58px;
    transition: .3s linear;
}

.navbar-menu a{
    display: block;
    font-size: 30px;
    margin: 40px 0;
}

.sticky .navbar-menu{
    background-color: white;
}
.navbar-menu.active {
    right: 0;
}

.menu-toggler.active span:nth-child(1){
    transform: rotate(-45deg);
    top: 4px;
}

.menu-toggler.active span:nth-child(2){
    opacity: 0;
}

.menu-toggler.active span:nth-child(3){
    transform: rotate(45deg);
    bottom: 14px;
}

.sticky {
    background-color: white;
    padding: 18px 0;
}

.sticky .logo{
    background-color: white;
}
.sticky .navbar-menu a{
    color: black;
}

.sticky .menu-toggler span{
    background-color: black;
}

}